.pagination {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px 25px;
    margin-bottom: 50px;
}

.pagination__button {
    width: 50px;
    height: 50px;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    background-image: url("@/assets/icons/arrow-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;
    flex-shrink: 0;
}

.pagination__button_next {
    transform: rotate(180deg);
}

.pagination__links {
    display: flex;
    column-gap: 10px;
    align-items: flex-end;
}

.pagination__link {
    font-size: 32px;
}

.disabled {
    cursor: default;
}

.disabled:hover {
    opacity: 1;
}

.pagination__link_active {
    color: #ff7a00;
}

@media screen and (max-width: 550px) {
    .pagination__links {
        width: 100%;
        justify-content: center;
        order: -1;
    }
}
